@model LojaNinja.Dominio.Pedido

@{
<<<<<<< HEAD
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (@ViewBag.MensagemSucesso != null)
{
    <h3 class="alert alert-success">@ViewBag.MensagemSucesso</h3>
}

<div>
    <h1>Detalhes</h1>
    <hr />

    <dl class="dl-horizontal">
        <dt>
           <h4> Data Pedido:</h4>
        </dt>

        <dd>
            <h4>@Model.DataPedido.ToShortDateString()</h4>
        </dd>

        <dt>
            <h4>Data Desejada:</h4>
        </dt>

        <dd>
            <h4>@Model.DataEntregaDesejada.ToShortDateString()</h4>
        </dd>

        <dt>
            <h4>Produto:</h4>
        </dt>

        <dd>
            <h4>@Model.NomeProduto</h4>
        </dd>

        <dt>
            <h4>Valor:</h4>
        </dt>

        <dd>
            <h4>R$ @Model.Valor.ToString("0.00")</h4>
        </dd>

        <dt>
            <h4>Cliente</h4>
        </dt>

        <dd>
           <h4>@Model.NomeCliente</h4> 
        </dd>

        <dt>
            <h4>Cidade</h4>
        </dt>

        <dd>
            <h4>@Model.Cidade</h4>
        </dd>

        <dt>
            <h4>Estado</h4>
        </dt>

        <dd>
            <h4>@Model.Estado</h4>
        </dd>

        <dt>
            <h4>Urgente</h4>
        </dt>

        <dd>
            <h4>
                @{if (Model.PedidoUrgente)
                {
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                }
                else
                {
                    <span class="glyphicon glyphicon-thumbs-down"></span>
                }
            }
        </h4>
=======
    ViewBag.Title = "Listagem2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listagem2</h2>

<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataPedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataPedido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataDesejoEntregaDesejada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataDesejoEntregaDesejada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeProduto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeProduto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorVenda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorVenda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PedidoUrgente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PedidoUrgente)
>>>>>>> 9c6a820787619075ecea444f4b8f1a38855fdfb0
        </dd>

    </dl>
</div>
<p>
<<<<<<< HEAD
    <a href="~/Pedido/Manter/@Model.Id">Editar</a>
    <a href="~/Pedido/Listagem">Listagem</a>
=======
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
>>>>>>> 9c6a820787619075ecea444f4b8f1a38855fdfb0
</p>
