@model IEnumerable<LojaNinja.Dominio.Pedido>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a href="~/Pedido/Manter" class="btn btn-primary">Cadastrar novo Pedido</a>    
</p>
<table class="table table-bordered table-striped">
    <tr>
        <th>
            Data do Pedido
        </th>
        <th>
            Data Entrega Des.
        </th>
        <th>
            Produto
        </th>
        <th>
            Valor
        </th>
        <th>
            Cliente
        </th>
        <th>
            Cidade
        </th>
        <th>
            Estado
        </th>
        <th>
            Pedido Urgente?
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.DataPedido.ToShortDateString()
            </td>
            <td>
                @item.DataEntregaDesejada.ToShortDateString()
            </td>
            <td>
                @item.NomeProduto
            </td>
            <td>
                @item.Valor.ToString("0.00")
            </td>
            <td>
                @item.NomeCliente
            </td>
            <td>
                @item.Cidade
            </td>
            <td>
                @item.Estado
            </td>
            <td>
                @{ if (item.PedidoUrgente)
                    {
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                    }
                    else
                    {
                        <span class="glyphicon glyphicon-thumbs-down"></span>
                    }
                }
            </td>
            <td>
                <a class="btn btn-default btn-sm" href="~/Pedido/Manter/@item.Id"><span class="glyphicon glyphicon-pencil">Editar</span></a>
                <a class="btn btn-info btn-sm" href="~/Pedido/Detalhes/@item.Id"><span class="glyphicon glyphicon-menu-hamburger">Detalhes</span></a>
                <a class="btn btn-danger btn-sm" href="~/Pedido/Excluir/@item.Id"><span class="glyphicon glyphicon-remove">Excluir</span></a>                
            </td>
        </tr>
    }
</table>